<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate.Net35" version="1.5.3.0" targetFramework="net35" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net35" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net35" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4420.1017" targetFramework="net35-client" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net35" />
</packages>